

/*--------------------------------------------------------------
# CSS V/F
--------------------------------------------------------------*/

.caja {
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000000;
  background: #D0B1FC;
  padding: 20px;
  margin: 0 0 25px;
  overflow: hidden;
  border-radius: 30px 0px 30px 0px;
  -moz-border-radius: 30px 0px 30px 0px;
  -webkit-border-radius: 30px 0px 30px 0px;
  border: 2px solid #8510AE;
  text-align: center;
  font-family: Verdana,sans-serif;
}


.botonV { 
  border: 1px solid #164E04; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #31C81F; /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 20px; /*bordes redondos*/
  font-size: 30px;
  box-shadow: 5px 5px #164E04;
}
.botonV:hover { 
  background-color: #7FF540; /*color botón*/
}
/*
.botonV:active{
  margin-left: 2.5px;
  margin-top: 2.5px;
  box-shadow: 2.5px 2.5px #0D3102;
}
*/


.boxvf {
  width: 87%;
}


.botonF { 
  border: 1px solid #5F0606; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #C81F36; /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 20px; /*bordes redondos*/
  font-size: 30px;
  box-shadow: 5px 5px #5F0606;
}
.botonF:hover {
  background-color: #F13C54;
}
/*
.botonF:active{
  margin-left: 2.5px;
  margin-top: 2.5px;
  box-shadow: 2.5px 2.5px #0D3102;
}
*/


.botonNext { 
  border: 1px solid #CF8D13; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #FFC673; /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 30px;
  box-shadow: 5px 5px #CF8D13;
}
.botonNext:hover {
  background-color: #FDD397;
}



.verdader{
  width: 100%;
}


.barraadalt {
  font-size: 15px;
  display: inline-block;
  background: #FE9237;
  color: #000000;
  line-height: 1;
  padding: 8px 8px;
  margin-right: 4px;
  border-radius: 5%;
  text-align: center;
  width: 250px;
  height: 22px;
  transition: 0.3s;
  border: 1.5px solid #E76600;
}


.enrere {
  color: #000000;
}

body {
  background: #E2E3F5;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #1218A7;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

.respostess{
  border: 5px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 2px; /*espacio alrededor texto*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  font-size: 20px;
  margin-left: 500px;
  margin-right: 500px;
}

.soluciotext{
  font-size: 25px;
  align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

